header {
  display: flex;
  justify-content: space-between; /* Alinea el logo a la izquierda y el usuario a la derecha */
  align-items: center;
  padding: 10px 20px;
  background-color: #2C3E50; 
  color: white;
}




