/* Estilos para el contenedor del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilos para el botón principal */
.dropdown-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #303c54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para los iconos dentro del botón principal */
.dropdown-btn svg {
    margin-right: 10px;  /* Agrega el margen a la derecha del icono */
}

/* Estilos para el contenido del dropdown */
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Estilos para los elementos dentro del dropdown */
.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
}

/* Estilos para los iconos dentro de las opciones */
.dropdown-item svg {
    margin-right: 10px;
}

/* Efecto hover en los elementos del dropdown */
.dropdown-item:hover {
    background-color: #ddd;
}

/* Colores en hover y en estado activo */
.dropdown-item:active {
    background-color: #cce5ff;
}
