.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.buttons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centra los botones */
    gap: 10px; /* Espaciado entre los botones */
}

.downloads-table {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra la tabla */
}

.downloads-table table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.downloads-table th, .downloads-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.downloads-table tr.selected {
    background-color: lightblue;
}

.error-message {
    color: red;
}

